<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  
  <display-name>w_admin</display-name>

  <servlet>
  	<servlet-name>ajax_idck</servlet-name>
  	<servlet-class>adm_login.ajax_idck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ajax_idck</servlet-name>
  	<url-pattern>/ajax_idck.do</url-pattern>
  </servlet-mapping>	

  <servlet>
  	<servlet-name>logout</servlet-name>
  	<servlet-class>adm_login.logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout.do</url-pattern>
  </servlet-mapping>	
	
  <servlet>
  	<servlet-name>index</servlet-name>
  	<servlet-class>adm_index.index</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index.do</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>loginok</servlet-name>
  	<servlet-class>adm_login.loginok</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginok</servlet-name>
  	<url-pattern>/loginok.do</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>add_masterok</servlet-name>
  	<servlet-class>add_master.add_masterok</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>add_masterok</servlet-name>
  	<url-pattern>/add_masterok.do</url-pattern>
  </servlet-mapping>
  
<servlet>
<servlet-name>notice_writeok</servlet-name>
<servlet-class>w_admin.notice_writeok</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>notice_writeok</servlet-name>
<url-pattern>/notice_writeok.do</url-pattern>
</servlet-mapping>

  <servlet>
  	<servlet-name>notice_list</servlet-name>
  	<servlet-class>w_admin.notice_list</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>notice_list</servlet-name>
  	<url-pattern>/notice_list.do</url-pattern>
  </servlet-mapping>

<servlet>
<servlet-name>admin_siteok</servlet-name>
<servlet-class>admin_siteinfo.admin_siteok</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>admin_siteok</servlet-name>
<url-pattern>/admin_siteok.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>cancel_site</servlet-name>
<servlet-class>admin_siteinfo.cancel_site</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>cancel_site</servlet-name>
<url-pattern>/cancel_site.do</url-pattern>
</servlet-mapping>
</web-app>